#homebutton {
  text-align: left;
}
body {
  text-align: center;
  font-size: 30px;
  }
#formimage {
  text-align: left;
  height: 25%;
  width: 25%;
}
form {
  font-size: 30px;
}
#submit {
  font-size: 50px;
}
